#root {
  background-color: rgb(240, 244, 177);
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.vsc-initialized {
  background-color: rgb(97, 137, 92);
}

.primaryDashboard {
  display: flex;
  flex-direction: row-reverse;
  height: 50%;
  width: 100%;
}

.item {
  background-color: rgb(193, 191, 189);
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  height: 40px;
}

.box {
  background-color: rgb(103, 98, 98);
  border-radius: 4px;
}
.h3 {
  color: black;
}
